In [2]:
import requests
import pandas as pd
from selenium import webdriver

In [3]:
driver_path=r'C:\Users\ADMIN\Documents\chromedriver.exe'
browser = webdriver.Chrome(executable_path=driver_path)

C:\Users\ADMIN\anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

In [4]:
browser.get("https://bookpage.com/reviews")

In [11]:
book_name=browser.find_elements_by_xpath("//a[contains(@href,'/reviews/')]")
author_name=browser.find_elements_by_xpath("//p[@class='sans bold']")
book_genre=browser.find_elements_by_xpath("//p[@class='genre-links hidden-phone']")
book_review=browser.find_elements_by_xpath("//p[@class='excerpt']")
book_review_alternate=browser.find_elements_by_xpath("//p")

C:\Users\ADMIN\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:470: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

In [6]:
authorname=[]
for a in author_name:
    authorname.append(a.text)

In [7]:
bookgenre=[]
for a in book_genre:
    bookgenre.append(a.text)

In [17]:
bookreview=[]
for a in book_review:
    bookreview.append(a.text)

In [18]:
bookname=[]
for m in book_name:
    n=m.text
    if (n!="READ THE REVIEW") and (n!=""):
        bookname.append(n)

In [19]:
bookpage_data=pd.DataFrame({'Book Name':bookname,'Author Name':authorname,'Book Genre':bookgenre ,'Book Review':bookreview})
bookpage_data

,Book Name,Author Name,Book Genre,Book Review
0,Ancestor Approved,Cynthia Leitich Smith,Children’s / Middle Grade,
1,★ The Midnight Fair,"Gideon Sterer, Mariachiara Di Giorgio",Children’s / Children’s Picture Book,
2,★ City of the Uncommon Thief,Lynne Bertrand,YA / YA Fiction,
3,How the One-Armed Sister Sweeps Her House,Cherie Jones,Fiction / Literary Fiction,
4,Super Host,Kate Russo,Fiction / Family Drama,"In Super Host, the first novel from Kate Russo..."
5,The Paris Library,Janet Skeslien Charles,Fiction / Historical Fiction,
6,Anonymouse,"Vikki VanSickle, Anna Pirolli",Children’s / Children’s Picture Book,
7,The Ratline,Philippe Sands,Nonfiction / Biography / European History,
8,The Bad Muslim Discount,Syed M. Masood,Fiction / Coming of Age,Syed M. Masood mixes humor with tragedy. When ...
9,Of a Feather,Dayna Lorentz,Children’s / Middle Grade,