In [15]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re
from selenium import webdriver

In [16]:
driver_path=r'C:\Users\ADMIN\Documents\chromedriver.exe'

In [17]:
browser = webdriver.Chrome(executable_path=driver_path)

C:\Users\ADMIN\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  """Entry point for launching an IPython kernel.

In [18]:
browser.get("https://www.imdb.com/list/ls056092300/")

In [19]:
rating_ids=browser.find_elements_by_xpath("//span[@class='ipl-rating-star__rating']")
name_ids=browser.find_elements_by_xpath("//a[contains(@href,'?ref_=ttls_li_tt')]")
year_id=browser.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")

In [20]:
rating=[]
for m in rating_ids:
    n=m.text
    if (n!="Rate") and (n!=""):
        rating.append(n)

In [21]:
name=[]
for m in name_ids:
    n=m.text
    name.append(n)

In [22]:
year=[]
for m in year_id:
    n=m.text
    year.append(n)

In [23]:
imdb1_data=pd.DataFrame({'Name':name,'Rating':rating,'Year':year})
imdb1_data

                                 Name Rating    Year
0                     Ship of Theseus    8.1  (2012)
1                              Iruvar    8.5  (1997)
2                     Kaagaz Ke Phool      8  (1959)
3   Lagaan: Once Upon a Time in India    8.1  (2001)
4                     Pather Panchali    8.6  (1955)
..                                ...    ...     ...
95                   The World of Apu    8.5  (1959)
96                        Kanchivaram    8.1  (2008)
97                    Monsoon Wedding    7.3  (2001)
98                              Black    8.2  (2005)
99                            Deewaar    8.1  (1975)

[100 rows x 3 columns]